/*font-load*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@font-face {
  font-family: 'PT';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  background-color: #f1f1f2;
  box-sizing: border-box;
  color: #252267;
  font-family: 'PT';
  font-size: 16px;
}

header {
  background-color: white;
  height: 2rem;
  padding: 1rem 1.5rem;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  height: 2rem;
  text-transform: uppercase;
}

.logo span {
  color: lightgray;
  font-weight: 500;
}

a {
  color: black;
  padding: 0 1rem;
  text-decoration: none;
}

section {
  display: flex;
}

.large-graphic {
  margin: 2rem 1.5rem;
  max-width: 100%;
}

.large-graphic img {
  width: 100%;
}

.large-graphic video {
  width: 100%;
}

.action-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 3rem;
  max-width: 40%;
}

.action-box h1 {
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.action-box p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.action-box button {
  color: white;
  background-color: darkgray;
  border-radius: .5rem;
  padding: .5rem 0;
  width: 100%;
}

.information {
  background-color: white;
}

.large-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
}



aside {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  max-width: 40%;
}

.small-graphic {
  padding: 1rem;
  max-height: auto;
  max-width: 35%;
}

.small-graphic img {
  max-width: 100%;
}

figcaption {
  font-size: 1.2rem;
  width: 65%;
}

.description {
  padding: 1.5rem;
}

.description h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.description p {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem 0;
}

.info-box p {
  padding-bottom: .5rem;
}

.info-box a {
  color: blue;
  padding: 0;
}

.catalogue {
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4.5rem;
}

.catalogue .bar {
  justify-content: flex-start;
}

.course {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  max-height: 100%;
  max-width: 30%;
  margin: 1rem 1rem;
}

.course img {
  height: auto;
  width: 100%;
}

.course figcaption {
  margin: 1rem 0 1.5rem 1rem;
}

.flex-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  margin: 1rem 1.5rem;
  height: 3rem;
}
