/*font-load*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@font-face {
  font-family: 'PT';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  box-sizing: border-box;
  color: #3a3b3d;
  font-family: 'PT';
  font-size: 16px;
}

/* reuseable class stylings*/
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses {
  flex-wrap: wrap;
  justify-content: space-around;
}

.large-graphic {
  margin: 2rem 1.5rem;
  height: auto;
  width: 60%;
}

.medium_img {
  height: auto;
}

.small-img {
  padding: 1rem;
  height: auto;
  width: 35%;
}

/*section stylings*/
.main-nav {
  padding: 0 1.5rem;
  height: 4rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

span {
  color: #c9ced6;
  font-weight: lighter;
}

li {
  padding: 1rem;
}

a {
  color: #3a3b3d;
  text-decoration: none;
}

.main-banner {
  background-color: #c9ced6;
}
